<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.china.post.dao.UserLoginInfoMapper">
  <resultMap id="BaseResultMap" type="com.china.post.pojo.UserLoginInfo">
    <id column="USERID" jdbcType="INTEGER" property="userid" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <sql id="Base_Column_List">
    USERID, USERNAME, PASSWORD
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from userlogininfo
    where USERID = #{userid,jdbcType=INTEGER}
  </select>
  <select id="getTotal" parameterType="map" resultType="Long">
        select count(1) from userlogininfo
   </select>
   <select id="getUserList"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from userlogininfo
  </select> 
 <select id="checkUserLogin"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from userlogininfo
    where 1=1 
    <if test="#{0} != null and #{0} != ''">
         AND USERNAME =#{0}
    </if>
    <if test="#{1}   != null and #{1}   != ''">
          AND PASSWORD = #{1}  
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from userlogininfo
    where USERID = #{userid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.china.post.pojo.UserLoginInfo">
    insert into userlogininfo (USERID, USERNAME, PASSWORD
      )
    values (#{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.china.post.pojo.UserLoginInfo">
    insert into userlogininfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        USERID,
      </if>
      <if test="username != null">
        USERNAME,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.china.post.pojo.UserLoginInfo">
    update userlogininfo
    <set>
      <if test="username != null">
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where USERID = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.china.post.pojo.UserLoginInfo">
    update userlogininfo
    set USERNAME = #{username,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR}
    where USERID = #{userid,jdbcType=INTEGER}
  </update>
</mapper>